*.tif filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
.pdf filter=lfs diff=lfs merge=lfs -text
Assets/Hipernt/Documentation/Ultimate[[:space:]]Trees[[:space:]]Documentation.pdf filter=lfs diff=lfs merge=lfs -text
Assets/Oculus/Interaction/Samples/Objects/Props/ToyBox/ToyBoxes_AlbedoRoughness.tga filter=lfs diff=lfs merge=lfs -text
Assets/Oculus/VR/Plugins/1.87.0/AndroidOpenXR/OVRPlugin.aar.disabled filter=lfs diff=lfs merge=lfs -text
Assets/Oculus/VR/Plugins/1.87.0/Win64OpenXR/OVRPlugin.dll.disabled filter=lfs diff=lfs merge=lfs -text
Assets/Farm/Buildings/build_small_house_tall_roof_01.FBX filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
